<ion-modal-view class="category-details-window">
    <form name="categoryDetails" novalidate>
        <ion-header-bar class="bar-positive fix-buttons">
            <a class="button" ng-click="root.closeModal()">Cancel</a>
            <h1 class="title">Category Details</h1>
        </ion-header-bar>
        <ion-content has-bouncing="true">
            <div class="row">
                <div class="col">
                    <label class="item item-input ">
                        <input type="text" placeholder="Name" ng-model="item.name" ng-required="true">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col ion-information-circled">
                    Note: Name field is mandatory
                    <button class="button " ng-disabled="categoryDetails.$invalid" style="float: right;" ng-click="editor.saveItem(item);root.closeModal();categoryDetails.$setPristine()">Save</button>
                </div>
            </div>
        </ion-content>
    </form>
</ion-modal-view>
