<ion-view class="scroll-bg">
    <ion-content>
        <div class="intro-title">
            <h1>myLocations</h1>
            <h5>The simpliest way to add, customize and categorize your map locations</h5>
            <a class="button button-positive" href="#/tab/map">Start</a>
            <button class="button button-icon icon button-sharing ion-android-share-alt" ng-click="root.sharing()"></button>
            <div class="logo ion-location"></div>
        </div>
        <div class="credits">
            &copy; Design and development by Ivan Chernykh
        </div>
    </ion-content>
</ion-view>
