<ion-modal-view class="location-details-window">
    <form name="locationDetails" novalidate>
        <ion-header-bar class="bar-positive fix-buttons">
            <a class="button" ng-click="root.closeModal()">Cancel</a>
            <h1 class="title">Location Details</h1>
        </ion-header-bar>
        <ion-content has-bouncing="true">
            <div class="row">
                <div class="col">
                    <label class="item item-input ">
                        <input type="text" placeholder="Name" ng-model="item.name" ng-required="true">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input ">
                        <input type="text" placeholder="Address" ng-model="item.address" ng-required="true">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <label class="item item-input ">
                        <input type="text" placeholder="X" ng-model="item.coordinates.x" ng-required="true">
                    </label>
                </div>
                <div class="col col-50">
                    <label class="item item-input ">
                        <input type="text" placeholder="Y" ng-model="item.coordinates.y" ng-required="true">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="item location-categories">
                        <li class="item item-checkbox" ng-init="cat=editor.hasCategory(item,category.id)" ng-repeat="category in editor.categories">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="cat" ng-click="editor.categoryChanged(item,category, cat)" ng-required="!editor.isCategoryChosen(item)">
                            </label>
                            <span ng-bind="category.name"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col ion-information-circled">
                    Note: All fields are mandatory
                    <button class="button " ng-disabled="locationDetails.$invalid" style="float: right;" ng-click="editor.saveItem(item);root.closeModal();locationDetails.$setPristine()">Save</button>
                </div>
            </div>
        </ion-content>
    </form>
</ion-modal-view>
