<ion-view view-title="Categories">
    <ion-content>
        <div class="center" ng-if="!categoriesList.categories.length">
            <br>
            <br>
            <h3>You don't have any categories!</h3>
            <h4>You need some if you want to be able to add locations!</h4>
            <br>
            <button class="button button-balanced button-large" ng-click="root.addCategory()">Add category</button>
        </div>
        <div class="row" ng-if="categoriesList.categories.length">
            <div class="col ion-information-circled">
                Note: When removing a category, you might lose its related locations
            </div>
        </div>
        <ion-list>
            <ion-item class="list card" ng-repeat="item in categoriesList.categories">
                <div class="item item-divider">
                    <span ng-bind="item.name"></span>
                    <button class="button button-small button-clear button-dark ion-trash-a right" ng-click="categoriesList.remove(item)"></button>
                    <button class="button button-small button-clear button-dark ion-edit right" ng-click="root.editCategory(item.id)"></button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
