<ion-view view-title="Locations">
    <ion-content ng-init="categoriesToShow=[];order={alphabetical:true}">
        <div class="item item-checkbox" ng-if="locationsList.locations.length">
            <label class="checkbox">
                <input type="checkbox" ng-model="order.alphabetical">
            </label>
            Alphabetical order
        </div>
        <ul class="item location-categories" ng-if="locationsList.locations.length">
            <li class="item">
                Filter by categories:
            </li>
            <li class="item item-checkbox" ng-repeat="category in locationsList.categories">
                <label class="checkbox">
                    <input type="checkbox" ng-model="categoriesToShow[category.id]" ng-init="categoriesToShow[category.id]=category.id" ng-true-value="{{category.id}}">
                </label>
                <span ng-bind="category.name"></span>
            </li>
        </ul>
        <div class="center" ng-if="!locationsList.locations.length && !locationsList.categories.length">
            <br>
            <br>
            <h3>You don't have any locations or categories!</h3>
            <br>
            <button class="button button-balanced button-large" ng-click="root.addCategory()">Add category first</button>
        </div>
        <div class="center" ng-if="!locationsList.locations.length && locationsList.categories.length">
            <br>
            <br>
            <h3>You don't have any locations!</h3>
            <br>
            <button class="button button-balanced button-large" ng-click="root.addLocation()">Add one now</button>
        </div>
        <ion-list>
            <ion-item class="list card" ng-repeat="item in (order.alphabetical ? (locationsList.locations | orderBy:'name') : locationsList.locations) track by $index" ng-if="locationsList.hasCrossCategories(item.categories, categoriesToShow)">
                <div class="item item-divider">
                    <span ng-bind="item.name"></span>
                    <button class="button button-small button-clear button-dark ion-trash-a right" ng-click="locationsList.remove(item)"></button>
                    <button class="button button-small button-clear button-dark ion-edit right" ng-click="root.editLocation(item.id)"></button>
                    <button class="button button-small button-clear button-dark ion-eye right" ng-click="root.gotoLocation(item)"></button>
                </div>
                <div class="item item-body">
                    <h2 ng-bind="item.address"></h2>
                    <h2 class="ion-location">
            <span  ng-bind="item.coordinates.x"></span> - <span ng-bind="item.coordinates.y"></span>
          </h2>
                    <h3 class="ion-filing"> <span ng-repeat-start="category in item.categories track by $index" ng-bind="locationsList.getCategoryById(category).name" ng-if="category!=null"></span><span ng-repeat-end="" ng-if="category!=null && !$last">, </span></h3>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
