<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top  tabs-positive">
    <!-- Main Tab -->
    <ion-tab title="Map" icon="ion-map" href="#/tab/map">
        <ion-nav-bar class="bar-positive"></ion-nav-bar>
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Categories" icon="ion-filing" href="#/tab/categories">
        <ion-nav-bar class="bar-positive">
            <ion-nav-buttons side="secondary">
                <button class="button button-balanced ion-filing" ng-click="root.addCategory()"> Add Category</button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="tab-categories"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Locations" icon="ion-location" href="#/tab/locations">
        <ion-nav-bar class="bar-positive">
            <ion-nav-buttons side="secondary">
                <button class="button button-balanced ion-location" ng-click="root.addLocation()"> Add Location</button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="tab-locations"></ion-nav-view>
    </ion-tab>
</ion-tabs>
