$ionicons-font-path: "../lib/ionic/fonts" !default;

@import "www/lib/ionic/scss/ionic";

@import url(https://fonts.googleapis.com/css?family=Roboto);

$bg: '../img/bg-quality61.jpg';

body {
    font-family: 'Roboto', Verdana, sans-serif !important;
}

.scroll-bg {
    background: url($bg) no-repeat center center fixed;
    background-size: cover;
}

.ng-dirty.ng-invalid-required {
    &::-webkit-input-placeholder,
    .warning {
        color: #aa0000;
    }
}

.location-categories {
    padding: 0;
    white-space: inherit;
    margin-bottom: -2px;
}

.location-categories li {
    display: inline-block;
    border: 0;
    padding: 12px;
    margin-bottom: -4px;
}

.item-checkbox {
    padding-left: 54px !important;
}

.item-input input[type="checkbox"] {
    &,
    &:before {
        width: 28px !important;
    }
}

.right {
    float: right;
}

.list .item {
    padding-right: 0;
}

.scroll {
    height: 100%;
}

#gmap {
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}

.intro-title {
    position: relative;
    top: 50%;
    margin: -60px 20px 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 20px 30px 60px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
    line-height: 50px;
    h1 {
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    }
    h5 {
        color: #fff;
    }
    button:before {
        color: #fff;
    }
    .logo {
        position: absolute;
        right: -3px;
        font-size: 400px;
        top: -130px;
        line-height: 400px;
        opacity: 0.15;
    }
}

.platform-win32 {
    .button-sharing {
        display: none;
    }
}

.tabs-top > .tabs,
.tabs.tabs-top {
    bottom: 0!important;
}

.credits {
    bottom: 0;
    position: absolute;
    color: #fff;
    font-size: 10px;
    margin: 20px 20px 0;
}
